/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #ffe6f0, #fff0f6);
  color: #444;
  padding: 20px;
  line-height: 1.7;
}

/* Menu simples */
nav {
  background: #b83280;
  padding: 12px;
  text-align: center;
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffe6f0;
}

/* Estrutura da seção */
.section {
  margin: 50px auto;
  max-width: 900px;
}